body {
    height: 100%;
	margin: 0 0;	
    background-image: url('../images/fon1.jpg');
    background-attachment:fixed;
  	background-position: top; 
    background-repeat: no-repeat;
    background-size: 100%;
	text-align: center;
	top:0;
    }
nav {
  display: none;
}

#img_b {
	display:  none;
}
#img-l {
	top: 75px;

}
#search {
	top: 165px;
}



#title {
    padding-top: 15px;
	padding-bottom: 1%;
    font-size: 25px;

}
#show {
	display: block;
}
