header {
    height: 460px;
}
#title {
	padding-top: 50px;
	padding-bottom: 1%;
  font-size: 3em;
}
.img-ab  {
    max-width: 280px;
 }
#img_b .clouds {
	position: absolute;
	width: 54%;
	max-width: 380px;
	min-width: 340px;
}
#img-l {
	top: 75px;

}
#search {
	top: 165px;
}
