body {
	font-family: 'Princess Sofia', cursive;
    background-image: url('../images/fon1.jpg');
    background-attachment:fixed;
  	background-position: top; 
    background-repeat: no-repeat;
    background-size: 100%;
   	text-align: center;
}
h2, h3  {
	padding: 5px 5px;
	background: linear-gradient(#fcccfc, white);
	box-shadow:0px 0px 8px #fcccfc;
	color: #fff;
	font-size: 3em;
	font-weight: bold;
	
	text-shadow: 0 1px 0 #ccc, 
	0 2px 0 #cfcfcf,
	0 3px 0 #bbb,
	0 4px 0 #fcccfc, 
	0 5px 0 #aaa,
	0 6px 1px rgba(0,0,0,.1),
	0 0 5px rgba(0,0,0,.1),
	0 1px 3px rgba(0,0,0,.3),
	0 3px 5px rgba(0,0,0,.2),
	0 5px 10px #fcccfc,
	0 10px 10px rgba(0,0,0,.2),
	0 20px 20px rgba(0,0,0,.15);
	text-align: center;
}
h3 {
	text-align: left;
    font-size: 2em;
	font-weight: bold;
	margin: 10px 10px;
	background: none;
	box-shadow: none;
}
header {
	width: 100%;
	height: auto;
	height: 100vh;
	margin: 0 auto;	
	display: block;
	position: relative;
	
}
section {
	position: relative;
    display: block;
	max-width:1024px;
	width: 100%;
	/*height: 100vh;*/
	margin: 0 auto;
	background: linear-gradient(#ffeffc, white);
	opacity: 0.8;
}
.form {
	text-align: left;
}
.contact {
	/*font-family: Helvetica;*/
	letter-spacing: 5px;
    text-align: left;
    color: #555;
    font-size: 1.3em;
    padding: 30px;
}
footer {
	height: 100px;
	color: #000;
	margin: auto 0;
    font-size: 1.3em;
    padding: 20px 20px;
	text-align: left;
    background: linear-gradient(white, #F272F2);
    opacity: 0.5;
	box-shadow:0px 0px 0px gray;
}

article{
    display: inline-block;
    position: relative;
	text-align: left;
	max-width:1024px;
	width: 100%;
	/*height: 100vh;*/
	margin: 0 auto;

	}
#fon {
	position: absolute;
    display: block;
    margin: 0 auto;
    opacity: 0.5;
	width: 100%;
    max-height: 200px;
	height: 100%;
	top: 0;
	background: linear-gradient(#F272F2, white);
	background-size: cover;
	z-index: -3;
  
}
#img-l {
	display: block;
	position: absolute;
	max-width: 250px;
	width: 100%;
	max-height:160px;
	height: 100%;
	top: 35px;
	left: 0;
	z-index: 1;
}
#search {
	position: absolute;
	width: 25%;
	height: 20px;
	top: 125px;
	right: 10px;
	padding-top: 10px;
	text-align: right;
}
#search input {
  /* отключаем бордюры у инпутов */
  border: none;
}
/* стили для поля ввода */
#search .input {
  /* растягиваем поле ввода на всю ширину формы */
  width: 100%;

  /* за счет верхнего (8px) и нижнего (9px) внутренних отступов
  ** регулируем высоту формы
  ** внутренний отступ справа (37px) делаем больше левого,
  ** т.к. там будет размещена кнопка отправки	*/
  padding: 8px 37px 9px 15px;
  /* чтобы ширина поля ввода (100%) включала в себя внутренние отступы */
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* добавляем внутренние тени */
  box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.3);

  /* закругляем углы */
  border-radius: 10px;
  background: #fef;
  font: 13px Tahoma, Arial, sans-serif;
  color: #f5f;
  outline: none;
}
/* меняем оформление поля ввода при фокусе */
#search .input:focus {
  box-shadow: inset 0 0 5px rgba(0,0,0,0.2), inset 0 1px 2px rgba(0,0,0,0.4);
  background: #f8f8f8;
  color: #fff;
}
/* оформляем кнопку отправки */
#search .submit {
  /* позиционируем кнопку абсолютно от правого края формы */
  position: absolute;
  top: 15px;
  right: 0px;
  width: 37px;
  /* растягиваем кнопку на всю высоту формы */
  height: 100%;
  cursor: pointer;
  background: url(https://lh4.googleusercontent.com/-b-5aBxcxarY/UAfFW9lVyjI/AAAAAAAABUg/gQtEXuPuIds/s13/go.png) 190% no-repeat;
  /* добавляем прозрачность кнопке отправки */
  opacity: 0.5;
}
/* при наведении курсора меняем прозрачность кнопки отправки */
#search .submit:hover {
  opacity: 0.8;
}
/* данное свойство необходимо для того, чтобы в браузерах
** Chrome и Safari можно было стилизовать инпуты */
input[type="search"] {
  -webkit-appearance: none;
}

#title {
	width: 100%;
	margin: 0 auto;	
	padding-top: 70px;
	padding-bottom: 1%;
	letter-spacing: 15px;

	text-align: center;
	color: #fff;

	font-size: 4em;
	font-weight: bold;
/*font-family: Helvetica;*/
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
	text-align: center;
	/*text-shadow: 2px 2px 5px #F075F5;*/
	z-index: 1;	
}
#img_b {
	position: absolute;
	width: 44%;
	height: 75%;
	top: 25%;
	left: 0;
	right: 0;	
	bottom: 0;
	margin: 0 auto;
	border-radius: 50%;
    box-shadow: 0px -25px 40px 2px #F4A6F9;
	z-index: -2;
   	opacity: 0.9;
}
.topic {
    /*font-family: 'Dancing Script', cursive; */
	font-size: 28px;
	line-height: 1.6;
	height: 100%;
	text-shadow: 0 1px 0 #ccc;
 }
 .img-ab  {
	border: 2px solid #Ff7fFf;
    box-shadow:0px 0px 30px gray;
    padding:5px;
    width: 100%;
    max-width: 350px;
    display: block;
    margin:10px 10px;
    float: left;
 }
 .img-c  {
	border: 2px solid #Ff7fFf;
    box-shadow:0px 0px 30px gray;
    padding:5px;
    width: 100%;
    max-width: 400px;
    float: right; 
    margin: 7px 0 7px 7px;
}
figure {	
	position: absolute;
}

hr {
	color: red;
	text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
    text-align: center;
}

.collaps-t, .collaps-f {
	display: none;
}

/*menu*/

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

nav {
	display: block;
	position: absolute;
	max-width: 480px;
	height: 20px;
	top: 10px;
	right: 10px;
	list-style-type: none;
	text-align: right;
	width: 100%;
	height: 100%;
    /*border: 2px solid #000;*/
}
nav a {
	
	position: relative;
	display: inline-block;
	margin: 5px 5px;
	outline: none;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: 1px;
    font-family: 'Dancing Script', cursive; 
	font-weight: 400;
	text-shadow: 0 1px 0 #c9c9c9,
    0 2px 0 #bbb, 
    0 1px 0 #c9c9c9;
	font-size: 1.1em;
	
}

nav a:hover,
nav a:focus {
	/*color: #eee;*/
	text-shadow: 0 1px 0 #ccc,
    0 1px 0 #c9c9c9,
    0 2px 0 #bbb, 
 
    0 1px 3px rgba(0,0,0,.3), 
    0 3px 5px rgba(0,0,0,.2), 
    0 5px 4px rgba(0,0,0,.0),
    0 10px 10px rgba(0,0,0,.2), 
    0 20px 20px rgba(0,0,0,.15);
	outline: none;
	
}


/* Effect: border switch */
.effect-bs a {
	padding: 0 15px;
	height: 24px;
	line-height: 24px;
}

.effect-bs a::before,
.effect-bs a::after {
	position: absolute;
	width: 22px;
	height: 1.5px;
	background: #fff;
	content: '';
	opacity: 0.2;
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	transition: all 0.5s;
	pointer-events: none;
}

.effect-bs a::before {
	top: 0;
	left: 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: 0 0;
	-moz-transform-origin: 0 0;
	transform-origin: 0 0;
}

.effect-bs a::after {
	right: 0;
	bottom: 0;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	transform: rotate(90deg);
	-webkit-transform-origin: 100% 0;
	-moz-transform-origin: 100% 0;
	transform-origin: 100% 0;
}

.effect-bs a:hover::before,
.effect-bs a:hover::after,
.effect-bs a:focus::before,
.effect-bs a:focus::after {
	opacity: 1;
}

.effect-bs a:hover::before,
.effect-bs a:focus::before {
	left: 50%;
	-webkit-transform: rotate(0deg) translateX(-50%);
	-moz-transform: rotate(0deg) translateX(-50%);
	transform: rotate(0deg) translateX(-50%);
}

.effect-bs a:hover::after,
.effect-bs a:focus::after {
	right: 50%;
	-webkit-transform: rotate(0deg) translateX(50%);
	-moz-transform: rotate(0deg) translateX(50%);
	transform: rotate(0deg) translateX(50%);
}




/*-- Dropdawn menu--*/
	#dropdown.default {
    display: none;
    
}
@keyframes width {
    0%, 100% {
        width: 120px;
    }
    50% {
        width: 130px;
    }
}
.dropbtn {
    background-color: #FF75F5;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    color: white;
    padding: 8px;
    font-size: 18px;
    text-align: left;
    border: none;
    cursor: pointer;
    border-radius: 10px 0px 0px 0px;
    transition: all 0.5s;
    opacity: 0.3;
    animation: width 5s infinite;
    animation-timing-function: linear;
    
}

#dropdown.fixed {
    position: fixed;
    display: inline-block;
    top:5%;
    right:-84px;
    opacity: 0.9;
     z-index: 7;
    
}

.dropdown-content {
	opacity: 0.9;
    display: none;
    position: absolute;
    animation: width 0s infinite;
    animation-timing-function: linear;
    background-color: #F075F5;
    border-radius: 10px 0px 0px 0px;
    width: 120px;
    box-shadow: 0px 8px 12px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
	opacity: 0.9;
    color: #FFF;
    padding: 10px 10px;
   text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content li {
	display: block;
    text-decoration: none;
}


.dropdown-content a:hover {
	opacity: 0.9;
	font-family: 'Dancing Script', cursive; 
	background-color: #Ff05F5;border-radius: 10px 0px 0px 10px;text-align: center; 
	transition: all 0.5s;

}

#dropdown.fixed:hover .dropdown-content {
    display: block;
    position: relative;
    transition: all 0.5s;
    right: 85px;
    opacity: 0.9;font-family: 'Dancing Script', cursive; 
     text-decoration: none;
    animation: width 0s infinite;
    animation-timing-function: linear;
}

#dropdown.fixed:hover .dropbtn {
	position: relative;
    right: 77px;
    transition: all 0.5s;
    background-color: #F005F5;
    opacity: 0.9;
    text-decoration: none;
    animation: width 0s infinite;
    animation-timing-function: linear;
}

                           /* Responsive galery*/
div.img {
    
    box-shadow:0px 0px 20px gray;
    font-size: 20px;
	line-height: 1.6;
	height: 80%;
	margin: 0px 0px;
}

div.img:hover {
    border: 0px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 10px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

.responsive {
    display: inline-block;
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 0px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


/* Galery */
.hovergallery img{
-webkit-transform:scale(0.8); /*Webkit: уменьшаем размер до 0.8*/
-moz-transform:scale(0.8); /*Mozilla: масштабирование*/
-o-transform:scale(0.8); /*Opera: масштабирование*/
-webkit-transition-duration: 0.5s; /*Webkit: длительность анимации*/
-moz-transition-duration: 0.5s; /*Mozilla: длительность анимации*/
-o-transition-duration: 0.5s; /*Opera: длительность анимации*/
opacity: 1.0; /*Начальная прозрачность изображений*/
margin: 0 0px 0px 0; /*Интервалы между изображениями*/
}

.hovergallery img:hover{
-webkit-transform:scale(1.1); /*Webkit: увеличиваем размер до 1.2x*/
-moz-transform:scale(1.1); /*Mozilla: масштабирование*/
-o-transform:scale(1.1); /*Opera: масштабирование*/
box-shadow:0px 0px 30px gray; /*CSS3 тени: 30px размытая тень вокруг всего изображения*/
-webkit-box-shadow:0px 0px 30px gray; /*Webkit: тени*/
-moz-box-shadow:0px 0px 30px gray; /*Mozilla: тени*/
opacity: 1;
}


a.knopka  {
	color: #fff;
	font-size: 1.5em;
	font-weight: bold;
	text-decoration: none;
	margin-bottom: 10px;
	/*font-family: Helvetica;*/
	text-shadow: 0 1px 0 #ccc, 
	0 2px 0 #cfcfcf,
	0 3px 0 #bbb,
	0 4px 0 #fcccfc, 
	0 5px 0 #aaa,
	0 6px 1px rgba(0,0,0,.1),
	0 0 5px rgba(0,0,0,.1),
	0 1px 3px rgba(0,0,0,.3),
	0 3px 5px rgba(0,0,0,.2),
	0 5px 10px #fcccfc,
	0 10px 10px rgba(0,0,0,.2),
	0 20px 20px rgba(0,0,0,.15);
	text-align: center;
}
a.knopka:hover { 
	text-shadow: 0 1px 0 #ccc, 
	0 2px 0 #cfcfcf,
	0 3px 0 #bbb,
	0 4px 0 #fcccfc, 
	0 5px 0 #f5f,
	0 6px 1px rgba(0,0,0,.1),
	0 0 5px rgba(0,0,0,.1),
	0 1px 3px rgba(0,0,0,.3),
	0 3px 5px rgba(0,0,0,.2),
	0 5px 10px #f5f,
	0 10px 10px rgba(0,0,0,.2),
	0 20px 20px rgba(0,0,0,.15);
	cursor: pointer;
	} 
a.knopka:active {
	color: #fef;
	}
/*Clouds	*/
	@keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
	}
	@-webkit-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 0;}
	}
	@-moz-keyframes move-clouds-back {
    from {background-position:0 0;}
    to {background-position:10000px 200px;}
	}	
#clouds{
    background:transparent url('../images/clouds.png') repeat-x top center;
    z-index:3;
	position: absolute;
	width: 44%;
	height: 75%;
	top: 25%;
	left: 0;
	right: 0;	
	bottom: 0;
	margin: 0 auto;
	border-radius: 50%;
   	opacity: 0.4;
  -moz-animation:move-clouds-back 200s linear infinite;
  -ms-animation:move-clouds-back 200s linear infinite;
  -o-animation:move-clouds-back 200s linear infinite;
  -webkit-animation:move-clouds-back 200s linear infinite;
  animation:move-clouds-back 200s linear infinite;
}