body {
    height: 100%;
	/*margin: 0 0;	*/
 /*   background-image: url('../images/fon1.jpg');*/
 /*   background-attachment:fixed;*/
 /* 	background-position: top; */
 /*   background-repeat: no-repeat;*/
 /*   background-size: 100%;*/
	/*text-align: center;*/
	/*top:0;*/
    }
header {
    height: 220px;
}
nav {
	height: 20px;
	top: 7px;
	right: 0px;
	list-style-type: none;
	text-align: left;
	width: 100%;
	font-size: 14px;
    /*border: 2px solid #000;*/
}
/* Effect: border switch */
.effect-bs a {
	padding: 0 10px;
	
}



#img_b {
	display:  none;
}
#img-l {
	top: 145px;

}
#search {
	top: 155px;
}
#title {
    padding-top: 67px;
	padding-bottom: 1%;
    font-size: 2.4em;
}
.topic {
  font-size: 24px;
}
 .img-ab  {
    max-width: 200px;
 }